*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
    background-color: orange;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tablet, .mobile , .pc{
    font-size: 40px;
    font-weight: bold;
    color:white;
    display: none;
}
/* 
pc : >= 1024px
tablet : >= 740px  and < 1024px  
mobile : < 740px

*/
/* PC */
@media only screen and (min-width : 64em) {
  .pc{
    display: block;
  }
}

/* Table */
@media only screen and (min-width : 46.25em) and (max-width : 63.9375em) {
    .tablet{
        display: block;
      }       
}
/* Mobile */
@media only screen and (max-width : 46.1875em) {
    .mobile{
        display: block;
      }
}