:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fc5b31;
    --border-color: #dbdbdb;
    --second-color: #d0011b;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #FFCE3e;
}

* {
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        文泉驛正黑,
        "WenQuanYi Zen Hei",
        "Hiragino Sans GB",
        "儷黑 Pro",
        "LiHei Pro",
        "Heiti TC",
        微軟正黑體,
        "Microsoft JhengHei UI",
        "Microsoft JhengHei",
        sans-serif;
    ;
    box-sizing: border-box;

}

/*  */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__full_width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;

}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

.grid__column-2-4 {
    padding-left: 4px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes headerNotify {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0.5;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Button style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.btn.btn--normal:hover {
    background-color: rgba(51, 51, 51, 0.3);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--second-color);
}